<a href="https://colab.research.google.com/github/homailahmed/Ceertification-1/blob/main/List_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List**

In [15]:
list = ["banana", "apple","orange", "mango"]
a,b,c,d = list
print(a,c)
print(d,c,b,a)
print(a,b,c,d)

banana orange
mango orange apple banana
banana apple orange mango

**Concatination**

In [14]:
a = "my name is Homail Ahmed"
age = "my age is 35"
c = "I live in pakistan"
print(a)
print(age)
print(c)

my name is Homail Ahmed
my age is 35
I live in pakistan

***Scape characters***

In [20]:
string = "i am\t \"35years\"\n old\t \n Alhamdulillah"
print(string)

i am	 "35years"
 old
 Alhamdulillah

***Numaric Types***

1-Integer

2-Float

3-Complex

In [24]:
a = 10
x = 10.5
c = complex(5,5)
print(type(c))
print(type(b))
print(type(a))

<class 'complex'>
<class 'float'>
<class 'int'>

***Types Conversion***

In [25]:
a = str(20)
b = int(21)
c = complex(20.5)
print(type(c))
print(type(b))
print(type(a))

<class 'complex'>
<class 'int'>
<class 'str'>